html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.container-fluid, .row, .left-container {
  height: 100%; }

.left-container {
  display: table;
  position: fixed; }
  .left-container .left-section {
    padding: 15%;
    display: table-cell;
    vertical-align: middle; }
    .left-container .left-section .menu {
      margin: 30px 0 10px 0;
      padding: 25px 0;
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc; }
    .left-container .left-section .social {
      padding: 25px 0 10px 0;
      display: -webkit-inline-box; }
    .left-container .left-section .social-list {
      margin-right: 10px; }

.right-container {
  float: right;
  height: 100%; }
  .right-container .work-picture {
    width: 80%;
    height: 40%;
    display: block;
    margin: 50px auto 50px auto; }

.right-container:after {
  clear: both; }

ul {
  list-style: none; }

@media screen and (max-width: 767px) {
  .left-container {
    position: initial;
    height: 70%; }
  .right-container {
    float: left; } }
