

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid, .row, .left-container {
  height: 100%;
}

.left-container {
  display: table;
  position: fixed;
  transition: all 0.8s ease-in-out;
  .left-section {
    padding: 15%;
    display: table-cell;
    vertical-align: middle;
    .menu {
      margin: 30px 0 10px 0;
      padding: 25px 0;
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
    }
    .social {
      padding: 25px 0 10px 0;
      display: -webkit-inline-box;
    }
    .social-list {
      margin-right: 10px;
    }
  }
}


.right-container {
  float: right;
  background: #ece9e7;
  .work-picture {
    width: 90%;
    height: 40%;
    display: block;
    margin: 50px auto 50px auto;
  }
  .education, .about-me, .right-section {
    // background-color: #f5f5f5;
    display: block;
    // margin: 50px auto 50px auto;
  }
  .right-section {
    padding: 7%;
  }
  label {
    width: 100%;
  }
  .userName, .userEmail, .message {
    width: 50%;
  }
  .typed, .typed2, .typed3 {
    float: left;
  }
}

.skills {
  background: #ece9e7;
  color: #181818;
  font-family: 'geomanistregular';
  font-weight: bold;
  padding: 0;
  .skills-content {
    display: block;
    margin: 0;
    padding: 6%;
    .skills-title a{
      font-size: 3em;
      color: #444443;
    }
    .skills-title a:hover {
      text-decoration: none;
    }
    .skills-description {
      text-align: right;
      margin-right: 20%;
      padding-top: 2.5%;
      .see-in-detail {
        font-family: 'Italianno', geomanistregular, sans-serif;
        color: #444443;
        text-decoration: none;
        font-size: 1.5em;
      }
    }
  }
  .skills-content.hover, {
    background: #f2f2f2;
    color: #b3a577;
    .skills-title a, .see-in-detail {
      color: #b3a577;
      text-decoration: none;
    }

  }
}


.typed:after, .typed2:after, .typed3:after {
  clear: both;
}

.right-container:after {
  clear: both;
}

ul {
  list-style: none;
}


@media screen and (max-width: 767px) {
  .left-container {
    position: initial;
    height: 70%;
  }
  .right-container {
    float: left;
  }
}
