

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #181818;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container-fluid, .row, .left-container {
  height: 100%;
}

.left-container {
  display: table;
  position: fixed;
  transition: all 0.8s ease-in-out;
  font-family: 'geomanistregular', sans-serif;
  .left-section {
    padding: 12%;
    display: table-cell;
    vertical-align: middle;
    .my-name {
      font-size: 3.5em;
      color: #b3a577;
      font-weight: bold;
    }
    .position-title {
      font-size: 2em;
      color: #b3a577;
      font-weight: bold;
    }
    .menu {
      margin: 30px 0 10px 0;
      padding: 25px 0;
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      font-size: 1.5em;
      width: 90%;
    }
    .social {
      padding: 25px 0 10px 0;
      display: -webkit-inline-box;
      font-size: 1.5em;
      color: #b3a577;
    }
    .social-list {
      margin-right: 10px;
    }
  }
}


.right-container {
  padding: 0;
  float: right;
  background: #ece9e7;
  font-family: 'geomanistregular', sans-serif;
  .my-picture {
    width: 100%;
  }
  .education, .about-me, .right-section {
    display: block;
  }
  .about-me {
    font-size: 1.8em;
    padding: 5%;
    margin-top: 10%;
  }
  .right-section {
    margin-top: 5%;
    padding: 5%;
    font-size: 2em;
    .name {
      font-size: 3em;
    }
    a {
      color: #b3a577;
    }
  }
  label {
    width: 100%;
  }
  .userName, .userEmail, .message {
    width: 50%;
  }
  
  .typed, .typed2, .typed3 {
    float: left;
  }
}

.main-page {
  color: #f2f2f2;
  background-image: url("../../../public/chris.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  padding-right: 10%;
}

.aboutMe {
  height: 100%;
}

.right-container.contact-me {
  padding: 3%;
  height: 100%;
  .contact-me-section {
    p {
      margin-bottom: 5%;
    }
    p.intro {
      margin-top: 5%;
    }
    .intro {
      font-size: 6em;
      color: #b3a577;
    
    }
    .intro-des, .my-profile {
      font-size: 2em;
    }
    .my-profile, .my-profile a{
      color: #b3a577;
    }
  }
}
.work {
  background: #ece9e7;
  color: #444443;
  font-family: 'geomanistregular';
  font-weight: bold;
  padding: 0;
  .work-content {
    display: block;
    margin: 0;
    padding: 6%;
    .work-title {
      font-size: 2.5em;
    }
    .content2 {
      font-size: 2em;
    }
    .work-description {
      text-align: right;
      margin-right: 20%;
      padding-top: 2.5%;
      font-size: 1.2em;
    }
  }
}
.work-content:hover, .work-content:focus {
  cursor: pointer;
}
.doduart:focus, .doduart:hover {
  background-image: url("../../../public/dodu_art.jpg");
  background-size: 100% 100%;
  color: #fefefe;
  a {
   color: #fefefe;
  }
}
.korean-agency:focus, .korean-agency:hover {
  background-image: url("../../../public/korean-agency.jpg");
  background-size: 100% 100%;
  color: #fefefe;
  a {
   color: #fefefe;
  }
}

.jdtrading:focus, .jdtrading:hover {
  background-image: url("../../../public/jdtrading.jpg");
  background-size: 100% 100%;
  color: #fefefe;
  a {
   color: #fefefe;
  }
}

.heavenmeadow:focus, .heavenmeadow:hover {
  background-image: url("../../../public/heavenmeadow.jpg");
  background-size: 100% 100%;
  color: #fefefe;
  a {
   color: #fefefe;
  }
}
.scortch:focus, .scortch:hover {
  background-image: url("../../../public/scortch.jpg");
  background-size: 100% 100%;
  color: #fefefe;
  a {
   color: #fefefe;
  }
}
.chatty:focus, .chatty:hover {
  background-image: url("../../../public/chatty.jpg");
  background-size: 100% 100%;
  color: #fefefe;
  a {
   color: #fefefe;
  }
}
.skills {
  background: #ece9e7;
  color: #181818;
  font-family: 'geomanistregular';
  font-weight: bold;
  padding: 0;
  .skills-content {
    display: block;
    margin: 0;
    padding: 6%;
    .skills-title a{
      font-size: 3em;
      color: #444443;
    }
    .skills-title a:hover,.skills-title a:focus {
      text-decoration: none;
    }
    .skills-description {
      text-align: right;
      margin-right: 20%;
      padding-top: 2.5%;
      .see-in-detail {
        font-family: 'geomanistregular', sans-serif;
        color: #444443;
        text-decoration: none;
        font-size: 1.5em;
      }
    }
  }
  .skills-content.hover, {
    background: #f2f2f2;
    color: #b3a577;
    .skills-title a, .see-in-detail {
      color: #b3a577;
      text-decoration: none;
    }

    .skills-title a:hover{
      color: #b3a577;
      text-decoration: none;
    }

  }
}


.typed:after, .typed2:after, .typed3:after {
  clear: both;
}

.right-container:after {
  clear: both;
}

ul {
  list-style: none;
}


@media screen and (max-width: 767px) {
  .left-container {
    position: initial;
    height: 70%;
    .position-title {
      font-size: 1.5em!important;
    }
  }
  .right-container {
    float: left;
    height: unset!important;
    .about-me {
      font-size: 1.5em;
    }
    .name {
      font-size: 2em;
    }
  }
  .skills .skills-content, .work .work-content {
    font-size: 0.8em;
  }
  .right-overlay .project-title {
    font-size: 2.5em;
  }
  .right-container.contact-me .contact-me-section .intro {
    font-size: 5em;
  }
  .contact-me-section {
    font-size: 0.8em;
  }
  p.intro {
    margin-top: 0;
  }
  .main-page {
    background-color: #323232;
    background-size: 100% 60%;
  }
}
